<!DOCTYPE html>
<html>
<head>
	<title><?=Config::get('site_name')?></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.css" type="text/css" />
	
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.cookies.js"></script>
<!--	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
-->	
<script type="text/javascript">
function switch_language(lang)	{
	$.ajax({
		type: "POST",			   
		url:'/login/changelang',			
		data:{'lang':lang}, 
		cache: false,
		async: false,
	})		
};
</script>	
</head>
<body class="tm-body" style="position:relative;top:0px;">

<?php $sess = Session::get('login'); 
if ( isset($sess) != null) {
	$cart = new Cart((int)Session::get('id')); 
	if (count($cart->getProducts((int)Session::get('id'))) ) { ?> 						
		<div id="card"><a href="/mainlist/cart/"><img src="/img/card.png"> Товаров: <?= count($cart->getProducts((int)Session::get('id'))); ?> </a></div>
<?php } 
} ?>

<div id="logo"><img src="/img/logo.jpg"> </div>
    <nav class="navbar navbar-inverse "><!-- navbar-fixed-top -->
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><?=Config::get('site_name')?></a>
        </div>
        <div id="responsive-menu" class="collapse navbar-collapse" >
          <ul class="nav navbar-nav">
            <?php 
				
				if ( isset($sess ) != null) { ?> 						
				
				<li class="dropdown" >
					<a href="/" class="dropdown-toggle" data-toggle="dropdown"  ><?=__('profile','Profile') ?> <b class="caret"></b> </a>
					<ul class="dropdown-menu">
						<li><a <?php if (App::getRouter()->getController() == 'myads') {?> class='active' <?php } ?> href="/mainlist/myads/<?=Session::get('id')?>"><?=__('ads','Ads') ?></a></li>
						<li><a <?php if (App::getRouter()->getController() == 'pages') {?> class='active' <?php } ?> href="/pages/profileview/<?=Session::get('id')?>"><?=__('content','Сontent') ?></a></li>
						<li><a <?php if (App::getRouter()->getController() == 'users') {?> class='active' <?php } ?> href="/users/profile/<?=Session::get('id')?>"><?=__('profile','Profile') ?></a></li>					
					</ul>
				</li>
				
			<?php } ?>
            <li><a <?php if (App::getRouter()->getController() == 'pages') {?> class='active' <?php } ?> href="/pages/"><?=__('content','Content') ?></a></li>
            <li><a <?php if (App::getRouter()->getController() == 'contacts') {?> class='active' <?php } ?> href="/contacts/"><?=__('Contact','Contact') ?></a></li>
            <?php 
				$sess = session::get('login');
				if ( isset($sess ) == null) { ?> 			
				<li><a <?php if (App::getRouter()->getController() == 'login') {?> class='active' <?php } ?> href="/login/"><?=__('login_form','Login form') ?></a></li>
			<?php }  else { ?> 
				<li><a class='active' href="/login/logout/"><?=__('logout','Logout')." (".Session::get('login').")" ?></a></li>
			<?php } ?>
			
				<li><a href="" onclick="return switch_language('ua')"><img src="/webroot/img/UA.png" data-tooltip="UA"></a></li>
				<li><a href="" onclick="return switch_language('en')"><img src="/webroot/img/EN.png" data-tooltip="EN"></a></li>				
		
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container">
	
	<?php if(Session::hasFlash()) { ?>
		<div class="alert alert-info" role="alert">
			<?php Session::flash(); ?>
		</div>
		<?php } ?>
		<?php if (App::getRouter()->getController() == 'mainlist') {?> 
			  <div class="starter-template">			
				<?=$data['content']?>
				
			  </div>
		<?php } ?>

		<?php if (App::getRouter()->getController() == 'pages') {?> 
			  <div class="starter-template">			
				<?=$data['content']?>
				
			  </div>
		<?php } ?>
		<?php if (App::getRouter()->getController() == 'contacts') {?> 
			<div class="contact-template">
				<?=$data['content']?>
				
			</div>
		<?php } ?>
		<?php if (App::getRouter()->getController() == 'users') {?> 
			<div class="contact-template">
				<?=$data['content']?>
				
			</div>
		<?php } ?>
		<?php if (App::getRouter()->getController() == 'login') {?> 
			<div class="contact-template">
				<?=$data['content']?>
			
			</div>
		<?php } ?>
		
    </div>
	<div id="footer" >А это подвал. <br>Тут должна быть карта сайта, всякие иконки соц.сетей и прочие контакты. <br>Разработано в 2015-2016</div>
</body>
</html>