<!DOCTYPE html>
<html>
<head>
	<title><?=Config::get('site_name')?></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<link rel="stylesheet" href="/css/style.css" type="text/css" />

	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css" />
	<script src="/js/bootstrap.min.js"></script>	
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.cookies.js"></script>


</head>
<body class="tm-body" style="position:relative;top:0px;">
<div id="logo"><img src="/img/logo.jpg"></div>
    <nav class="navbar navbar-inverse "><!-- navbar-fixed-top -->
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><?=Config::get('site_name')?></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <?php 
				$sess = session::get('login');
				if ( isset($sess ) != null) { ?> 						
					<li><a <?php if (App::getRouter()->getController() == 'add') {?> class='active' <?php } ?> href="/mainlist/add"><?=__('add','Add') ?></a></li>
					<li><a <?php if (App::getRouter()->getController() == 'userprofile') {?> class='active' <?php } ?> href="/mainlist/userprofile/<?=Session::get('id')?>"><?=__('profile','Profile') ?></a></li>
			<?php } ?>
            <li><a <?php if (App::getRouter()->getController() == 'pages') {?> class='active' <?php } ?> href="/pages/"><?=__('content','Content') ?></a></li>
            <li><a <?php if (App::getRouter()->getController() == 'contacts') {?> class='active' <?php } ?> href="/contacts/"><?=__('Contact','Contact') ?></a></li>
            <?php 
				$sess = session::get('login');
				if ( isset($sess ) == null) { ?> 			
				<li><a <?php if (App::getRouter()->getController() == 'login') {?> class='active' <?php } ?> href="/login/"><?=__('login','login') ?></a></li>
			<?php }  else { ?> 
				<li><a class='active' href="/login/logout/"><?=__('logout','Logout')." (".Session::get('login').")" ?></a></li>
			<?php } ?>
			
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    
    <div class="container">
	
	<?php if(Session::hasFlash()) { ?>
		<div class="alert alert-info" role="alert">
			<?php Session::flash(); ?>
		</div>
		<?php } ?>
		<?php if (App::getRouter()->getController() == 'mainlist') {?> 
			  <div class="starter-template">			
				<?=$data['content']?>
				
			  </div>
		<?php } ?>

		<?php if (App::getRouter()->getController() == 'pages') {?> 
			  <div class="starter-template">			
				<?=$data['content']?>
				
			  </div>
		<?php } ?>
		<?php if (App::getRouter()->getController() == 'contacts') {?> 
			<div class="contact-template">
				<?=$data['content']?>
				
			</div>
		<?php } ?>
		<?php if (App::getRouter()->getController() == 'profile') {?> 
			<div class="contact-template">
				<?=$data['content']?>
				
			</div>
		<?php } ?>
		<?php if (App::getRouter()->getController() == 'login') {?> 
			<div class="contact-template">
				<?=$data['content']?>
			
			</div>
		<?php } ?>
		
    </div><!-- /.container -->
	<!-- <div id="right">ldfjgjdfhgjdfhgjdfhgj</div>-->
	<div id="footer" ><img src="/img/logo.jpg">kdsbfkgfkjsdgfkjhdsgfhg</div>

	
	
	

</body>
</html>