<H3><?=__('login_form','Login form') ?></H3>
<br/>
<form method="post" action="">
	<div class="form-group">
		<label for="login"> <?=__('login','Login') ?> </label>
		<input type="text" id="login" name="login" class ="form-control" />
	</div>
	<div class="form-group">
		<label for="password"> <?=__('password','Password') ?> </label>
		<input type="password" id="password" name="password" class ="form-control" />
	</div>
	<div class="form-group">
		<a href="/login/registration"><?=__('registration','Registration') ?></a> <br/>
	</div>
	<div class="form-group">
		<a href="/login/remember"><?=__('remember','Remember') ?></a> <br/>
	</div>	
	<a href="/login/user/confirm/<?=$page_data['id']?>"><button class="btn btn-success" ><?=__('login_form','submit') ?></button></a>
	<input type="submit" class="btn btn-warning" name="back" value = "<?=__('admin_cancel','Cancel') ?>"/>
</form>