<H3><?=__('Register','Register') ?>:</H3>
<br/>
	

<form method="post" action="">
	
    <label for="login"> <?=__('your_name','Name') ?> </label>
    <input type="text" id="login" name="login" class ="form-control" placeholder="<?=__('your_name','Name') ?>" /><br>
    <label for="password"> <?=__('password','Password') ?> </label>
    <input type="password" id="password" name="password" class ="form-control" placeholder="more 3 simbols, A-z,0-9" /><br>
    <label for="password1"> <?=__('password_confirm','Password confirm') ?> </label>
    <input type="password" id="password1" name="password1" class ="form-control" placeholder="<?=__('password_confirm','Password confirm') ?>" /><br>
    <label for="email"> <?=__('your_email','Email') ?> </label>
    <input type="email" id="email" name="email" class ="form-control" placeholder="<?=__('your_email','Email') ?>"/><br>

    <label for="city"> <?=__('users_list_city','city') ?> </label>
    <input type="text" id="city" name="city" class ="form-control" placeholder="<?=__('users_list_city','city') ?>"/><br>
	<input type="hidden" name="role" value="user">
	<input type="hidden" name="is_active" value="1">
	
	<input type="submit" class="btn btn-success"/>
	<input type="submit" class="btn btn-warning" name="back" value = "<?=__('admin_cancel','Cancel') ?>"/>
</form>
