<H3><?=__('profile','Profile') ?>:</H3>
<table id="table-common-img" border="0px">
<br/>
<form method="post" action="">
<input type="hidden" name="id" id="id"value="<?=$data['users']['id']?>" />
	<div class="form-group">
		<label for="login"><?=__('users_list_name','Name') ?></label>
		<input type="text" id="login" name="login" value="<?=$data['users']['login']?>" class="form-control"/>
	</div>
	<div class="form-group">
		<label for="password"><?=__('password','Password') ?></label>
		<input type="text" id="password" name="password" class="form-control"/>
	</div>
	<div class="form-group">
		<label for="password2"><?=__('password_confirm','Password confirm') ?></label>
		<input type="text" id="password2" name="password2" class="form-control"/>
	</div>
	<div class="form-group">
		<label for="Email"><?=__('users_list_email','Email') ?></label>
		<input type="text" id="email" name="email" value="<?=$data['users']['email']?>" class="form-control"/>
	</div>

	<div class="form-group">
		<label for="city"> <?=__('users_list_city','City') ?> </label>
		<textarea id="city" name="city" class="form-control"><?=$data['users']['city']?></textarea>
	</div>
	<input type="submit" class="btn btn-success"/>
	<input type="submit" class="btn btn-warning" name="back" value = "<?=__('admin_cancel','Cancel') ?>"/>
	

</form>