

<!-- <a onclick="$('#myAds').slideToggle('slow');" href="javascript://"><H3><?=__('users_my_goods','My goods list') ?>:</H3></a>
<div id="myAds"> -->
<H3><?=__('users_my_goods','My goods list') ?>:</H3>
<table id="table-common-img" border="0px">

<?php 

$page = isset($_GET['page']) ? (int)$_GET['page'] : 1;
if ( $page == 0 ){ $page = 1; }
	$form_page = Config::get('adsperpage') * ($page-1) +1 ;
	$to_page = (Config::get('adsperpage')* $page);

if($to_page > count($data['mainlist'])){
	$to_page = count($data['mainlist']);
}
?>

		<input type="hidden" name="user_id" value="<?=$cur_goods['user_id'];?>" />
		<input type="hidden" name="goods_id" value="<?=$cur_goods['goods_id'];?>" />
		<tr>
			<td>
				<table class="table-img" border="0px"> 
					<?php $j=$form_page-1;
					
					for ($i = $j; $i < $to_page; $i++){
						$cur_goods = $data['mainlist'][$j]; 
						$j++; // echo"<pre>"; print_r($cur_goods);
					?>
				
					<tr align=center>
						<td width=30%><?=__('form_add_name','Name') ?>: <b><?=$cur_goods['goods_name']?></b></td>
						<td width=40%><?=__('form_add_desc','Description') ?>: </td>
						<td width=30%> </td>
					</tr>
					<tr > 						
						<td width=30%><img src="<?=$cur_goods['photo_path']?>" width="200px" border="1px" style="margin:10px 10px ;"></td>
						<td width=40% class="mainlist_edit"> <?=$cur_goods['goods_decs']?></td>
						<td width=30% class="mainlist_edit">
							<?php if($cur_goods['goods_cur_price'] >= $cur_goods['goods_price']) { echo __('ads_sold','Contetn sold.')."<br>".__('ads_winer','Winer:').$cur_goods['winer_login'] ; } else { ?>						
								<?=__('form_add_curent_price','Step price') ?>: <b><?=$cur_goods['goods_cur_price']?> <?=__('uah','UAH.')?></b> <br>
								<?=__('form_add_step_price','Step price') ?>: <b><?=$cur_goods['goods_step_price']?> <?=__('uah','UAH.')?></b> <br>
								<?=__('form_add_max_price','Max price') ?>: <b><?=$cur_goods['goods_price']?> <?=__('uah','UAH.')?></b><br>
								<?=__('form_add_start','From date') ?>: <b><?=$cur_goods['goods_start_time']?> </b><br>
								
								<?php if( $cur_goods['goods_days_left'] > 0 && $cur_goods['goods_start_time'] < date('Y-m-d H:m:s', time())){ ?>
									<?=__('form_add_end_time','End data')?> : <b><?=date('d-m-Y', strtotime($cur_goods['goods_start_time'].'+'.$cur_goods['goods_num_days'].' day') )?></b><br> 
									<?php } else { echo "Срок истек <br>"; } ?>
								
								<?php if( $cur_goods['goods_days_left'] > 0){ echo "Осталось: <b>".$cur_goods['goods_days_left']."</b><br/>"; }?>
								
								<?=__('activity','Activity') ?>: <b><?php if ($cur_goods['goods_active'] == 1) { echo __('active','Active'); } else { echo __('not_active','Not active');  } ?></b><br> 
								
								<?php if (($cur_goods['goods_active'] == 1 || (int)$cur_goods['goods_days_left'] > 0) && $cur_goods['goods_start_time'] < date('Y-m-d H:m:s', time()) ) { ?>
									<?=__('no_edit','Edition bloked') ?> 
								<?php } else { ?> 
								<!-- -->
								
								
								<a href="/mainlist/edit/<?=$cur_goods['goods_id']?>/<?=$cur_goods['user_id']?>" ><button class="btn btn-sm btn-success" ><?=__('admin_edit_butn','Edit')?></button> </a>							
								<a href="/mainlist/delete/<?=$cur_goods['goods_id']?>" /><button class="btn btn-sm btn-warning" onclick="return confirmDelete();"><?=__('admin_delete_butn','Delete') ?></button> </a>
								<?php } ?>
								
							<?php } ?>
							<table>
								<tr> 
									<td> 										
										<?php  if($cur_goods['winer_u'] != null) { 
													foreach ($cur_goods['winer_u'] as $val){ 
														if((int)$val['winer']==1) { echo "<label style='color:red; font-size:9px'> ".$val['winer_login']." (".$val['set_price'].__('uah','UAH.').") </label> "; 
														} else { 
															echo "<label style='font-size:9px'> ".$val['winer_login']." (".$val['set_price'].__('uah','UAH.').") </label> "; 
														}
													} 
												}?>
									
									</td>
								</tr>
							</table>
							</td>
					</tr>
					<?php } ?>
				</table>
			</td>
		</tr>


</table>
<?php require  ROOT.DS.'plugins'.DS.'pagination.php';?>
<!-- </div> -->

<input type="submit" class="btn btn-success" value = "<?=__('add_ads','Add ads') ?>" onClick="window.location = '/mainlist/add/'"/>